<ion-header>
  <ion-toolbar color="light">
    <ion-title>My Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<!--<div class="story-list">
  <div class="scroll-horizontal">
    <div class="scroll-item" *ngFor="let i of avatar">
      <div class="item">
        <div class="item-avatar">
          <ion-avatar class="avatar-md has-update has-status">
            <img src="{{i.img}}" alt="">
          </ion-avatar>
        </div>
        <p class="item-label">
          {{i.name}}
        </p>
      </div>

    </div>
  </div>
</div>-->

<div class="container-avatar">
  <ion-card>
    <div class="post-list">
      <div class="post-item">
        <div class="post-header">
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="auto">
              <ion-avatar class="avatar-sm">
                <img src= "https://avatars.dicebear.com/api/adventurer/your-custom-seed.svg?b=%2360d7cf"/>
              </ion-avatar>
            </ion-col>
            <ion-col>
              <strong>Adventurer</strong>
            </ion-col>
            <ion-button size="small" fill="clear" color="dark" class="icons" (click)="getPermissionToDownload()">
              <ion-icon name="download-outline" size="large" ></ion-icon>
            </ion-button>
          </ion-row>
        </div>
        <div class="post-media" >
          <img src= "{{ url}}"/>
        </div>
        <div class="post-actions">
          <ion-row>
            <ion-col size="auto">
              <ion-button size="small" fill="clear" color="dark" class="icons" (click)="randomAvatar()">
                <ion-icon name="shuffle-outline" size="large"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
        <div class="container-input-name">
          <ion-input mode="ios" (ionChange)="ionChange($event, null)" id="input-seed" placeholder="Your-name" name="seed" [(ngModel)]="seed"></ion-input>
        </div>
      </div>
    </div>
  </ion-card>
</div>

<ion-content>

  <div class="avatar-opt" id="div-eye" >
    <div class="container-eye" >
      <div class="title-btn-front">
        <p class="text">Eyes</p>
        <button class="bnt" (click)="mudarestado('div-eyebrows')"><ion-icon name="arrow-forward-outline" ></ion-icon></button>
      </div>
      <div class="box-eye">
        <div class="opt-eye" *ngFor="let eye of eyes" (click)="changeStyle(eye.id, 'eye')">
          <img src="{{eye.url}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="avatar-opt" id="div-eyebrows" style="display:none">
    <div class="container-eye" >
      <div class="title-btn-back">
        <button class="bnt" (click)="mudarestado('div-eye')"><ion-icon name="arrow-back-outline"></ion-icon></button>
        <p class="text">Eyebrows</p>
      </div>
      <div class="box-eye">
        <div class="opt-eye" *ngFor="let eyebrow of eyebrows" (click)="changeStyle(eyebrow.id, 'eyebrows')">
          <img src="{{eyebrow.url}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="avatar-opt" id="div-mouth" style="display:none">
    <div class="container-eye" >
      <div class="title-btn-front">
        <p class="text">Mouth</p>
      </div>
      <div class="box-eye">
        <div class="opt-eye" *ngFor="let mouth of mouths" (click)="changeStyle(mouth.id, 'mouth')">
          <img src="{{mouth.url}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="avatar-opt" id="div-hair" style="display:none">
    <div class="container-eye" >
      <div class="title-btn-front">
        <p class="text">Hair</p>
      </div>
      <div class="container-color-picker">
        <p> Hair Color </p>
        <div class="colorPicker"
            ngx-colors-trigger
            [style.background]="selectedColorHair"
            (input)="changeStyle(null, 'colorHair')"
            [(ngModel)]="selectedColorHair">
        </div>
      </div>
      <div class="box-eye">
        <div class="opt-eye" *ngFor="let hair of hairs" (click)="changeStyle(hair.id, 'hair')">
          <img src="{{hair.url}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="avatar-opt" id="div-skin" style="display:none">
    <div class="container-eye" >
      <div class="title-btn-front">
        <p class="text">Skin</p>
      </div>
      <div class="container-color-picker">
        <p> Skin Color </p>
        <div class="colorPickerSkin"
            ngx-colors-trigger
            [style.background]="selectedColorSkin"
            (input)="changeStyle(null, 'colorSkin')"
            [(ngModel)]="selectedColorSkin">
        </div>
      </div>
    </div>
  </div>

  <div class="avatar-opt" id="div-aces" style="display:none">
    <div class="container-eye" >
      <div class="title-btn-front">
        <p class="text">Accessoires</p>
      </div>
      <div class="box-eye">
        <div class="opt-eye" (click)="changeStyle(null, 'acessorie')">
          <img src="assets\img\icone-x-noir.png" alt="">
        </div>
        <div class="opt-eye" *ngFor="let acessorie of acessories" (click)="changeStyle(acessorie.id, 'acessorie')">
          <img src="{{acessorie.url}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="avatar-opt" id="div-options" style="display:none">

    <ion-card class="advanced-options-card">
      <div class="container-eye" >
        <div class="title-btn-front">
          <p class="text">Advanced Options</p>
        </div>
        <div class="container-color-picker">
          <p> Background Color </p>
          <div class="colorPickerSkin"
              ngx-colors-trigger
              [style.background]="selectedColorBackground"
              (input)="changeStyle(null, 'colorBackground')"
              [(ngModel)]="selectedColorBackground">
          </div>
        </div>
        <div class="container-range">
          <ion-label>Radius: </ion-label>
          <ion-range min="0" max="50" color="secondary" pin="true" (ionChange)="ionChange($event, 'radius')">
          <ion-label slot="start">0</ion-label>
            <ion-label slot="end">50</ion-label>
          </ion-range>
        </div>
        <div class="container-range">
          <ion-label>Scale: </ion-label>
          <ion-range min="0" max="200" color="secondary" pin="true" (ionChange)="ionChange($event, 'scale')" >
          <ion-label slot="start">0</ion-label>
            <ion-label slot="end">200</ion-label>
          </ion-range>
        </div>

        <div class="container-range">
          <ion-label>Rotate: </ion-label>
          <ion-range min="0" max="360" color="secondary" pin="true" (ionChange)="ionChange($event, 'rotate')" >
          <ion-label slot="start">0</ion-label>
            <ion-label slot="end">360</ion-label>
          </ion-range>
        </div>

        <div class="container-range">
          <ion-label>Flip: </ion-label>
          <ion-toggle [(ngModel)]="flipToggle" (ionChange)="ionChange($event, 'flip')" color="secondary"></ion-toggle>
        </div>
      </div>
    </ion-card>

  </div>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="mudarestado('div-eye')">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="mudarestado('div-mouth')">
        <img class="icon-fab" src="\assets\img\mouth.png"/>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="mudarestado('div-aces')" >
        <img  class="icon-fab" src="/assets/img/aces.png"/>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="mudarestado('div-hair')">
        <img class="icon-fab" src="/assets/img/hair.png"/>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="mudarestado('div-skin')">
        <img class="icon-fab" src="/assets/img/skin.png"/>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="mudarestado('div-options')">
        <ion-icon name="color-fill-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<!--<div class="container-opcoes">


</div>

<ion-slides pager="true">
    <ion-slide>
      <div class="container">
        <p> Skin Color</p>
        <div class="buttons-skinColor">
          <button id="skin1" (click)="skinColor(0)">

          </button>
          <button id="skin2" (click)="skinColor(1)">

          </button>
          <button id="skin3" (click)="skinColor(2)">

          </button>
          <button id="skin4" (click)="skinColor(3)">

          </button>
          <button id="skin5" (click)="skinColor(4)">

          </button>
        </div>
      </div>
    </ion-slide>



  </ion-slides>-->
